<div class="booyah-box col-10 offset-1">
  <h1>Enter Your Place Details</h1>
  <%= simple_form_for @place do |f| %>
    <%= f.input :name %>
    <%= f.input :address %>
    <%= f.input :description %>
    <br />
    <%= f.submit 'Create' , class: 'btn btn-primary' %>
  <% end %>
</div>

<div class="booyah-box col-10 offset-1">
<h1>Add a Photo</h1>
 <%= simple_form_for @photo do |f| %>
  <%= f.input :picture %>
  <%= f.input :caption %>
  <br />
  <%= f.submit 'Add', class: 'btn btn-primary' %>
  <% end %>
</div>
